/* @import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap); */

@import url(https://fonts.googleapis.com/css?family=Miniver);
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Satisfy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap);

.logo_img{
  height: 100%;
  margin-inline-start: 2%;
  margin-inline-end: 1.5%
  /* margin-top: 0vh; */
  
}

#menu_header {
  /* background-color: #668eb3; */
  background-color: #467db1;
}
/*comic sans*/
#logo_name {
  /* font-family: 'Nanum Gothic', sans-serif; */
  color: white;
  /* margin-top: 0.2%; */
  /* font-family: 'Miniver'; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Satisfy', cursive; */
  font-family: 'Fredericka the Great', cursive;
  /* font-family: 'Love Ya Like A Sister', cursive; */
  font-size: 250%;
}

.menu_options {
  font-style: bold;
}

h3{
  font-family: 'Satisfy', cursive;
}

p{
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 150%;
}