/* @import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap); */

@import url(https://fonts.googleapis.com/css2?family=Satisfy&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

.logo_img{
  height: 100%;
  margin-inline-start: 2%;
  margin-inline-end: 1.5%
  /* margin-top: 0vh; */
  
}

#menu_header {
  /* background-color: #668eb3; */
  background-color: #467db1;
}
/*comic sans*/
#logo_name {
  /* font-family: 'Nanum Gothic', sans-serif; */
  color: white;
  font-family: 'Fredericka the Great', cursive;
  font-size: 250%;
  background-color: #467db1;
  font-weight: lighter;
}

.menu_options {
  font-style: bold;
}

h3{
  font-family: 'Satisfy', cursive;
  text-align: center;
}

.description{
  font-family: 'Open Sans', sans-serif;
  font-size: 140%;
  text-align: left, justify;
  margin-inline-start: 2%;
  margin-inline-end: 2%;
}

.fonte{
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  text-align: left, justify;
  margin-inline-start: 2%;
  margin-inline-end: 2%;
}

.activeLink {
  background-color: #346ca0;
  font-weight: bold;
}